<div class="border border-primary" style="width: 100%; height: 100%">
    <div *ngIf="selectedElement" class="scrollbar scrollbar-primary">
        <div class="row" *ngFor="let key of getKeys()">
            <div class="col-xl-6">
                {{key}}
            </div>
            <div class="col-xl-6">
                <input type="text" [(ngModel)]="selectedElement[key]" (ngModelChange)="refreshCanvas($event)"
                    name="{{selectedElement[key]}}" size="15" maxlength="50"/>
            </div>
        </div>
    </div>
</div>