
<section id="tabs" style="width: 100%; height: 100%">
    <div class="row"  style="width: 100%; height: 100%">
        <div class="col-xl-12" style="width: 100%; height: 100%; padding:0px 0px 0px 15px">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="width: 100%; height: 10%">
                    <!--<ng-template ngFor let-diagram [ngForOf]="diagrams" let-i="index">-->
                        <!--https://stackoverflow.com/questions/42658800/how-to-bind-dynamic-data-to-aria-label-->
                        <!--Da bi se koristile {{}} (angular  expression) u atributima koji su nepoznati tagu, 
                        mora se dodati attr. ispred naziva atributa-->
                        <a *ngFor="let diagram of diagramsTab; let i = index" (click)="changeDiagram(diagram.id)"
                            class="nav-item nav-link {{i==0 ? 'active' : ''}} {{diagram.complexProcess ? 'complex-process' : ''}}"
                            id="nav-{{diagram.id}}-tab" data-toggle="tab" href="#nav-{{diagram.id}}" role="tab"
                            attr.aria-controls="nav-{{diagram.id}}" attr.aria-selected="{{i==0 ? 'true' : 'false'}}">
                            {{diagram.name}}
                        </a>
                    <!--</ng-template>-->
                    <!--<button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    </button>-->
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              <!--Dropdown-->
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li *ngFor="let diagram of model.diagrams">
                                  <a href="javascript:void(0);" (click)="setTabOnFirstPlace(diagram.id)">{{diagram.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
            </nav>
            <div style="width: 100%; height: 100%" class="tab-content pt-2 pb-0 px-0 px-sm-0" id="nav-tabContent">
                <!--<ng-template ngFor let-diagram [ngForOf]="diagrams" let-i="index">-->
                    <!--https://stackoverflow.com/questions/42658800/how-to-bind-dynamic-data-to-aria-label-->
                    <!--Da bi se koristile {{}} (angular  expression) u atributima koji su nepoznati tagu, 
                        mora se dodati attr. ispred naziva atributa-->
                    <div *ngFor="let diagram of diagramsTab; let i = index" class="tab-pane fade show {{i==0 ? 'active' : ''}}"
                         id="nav-{{diagram.id}}" role="tabpanel" attr.aria-labelledby="nav-{{diagram.id}}-tab"
                         style="width: 100%; height: 90%">
                        <!--<app-canvas [selectSvg]="selectSvgs[i]" [eventEmitterName]="diagram.name"></app-canvas>-->
                        <app-canvas (addNewDiagram)="makeNewDiagramForComplexProcess($event)" (removeDiagram)="removeComplexProcessDiagram($event)"
                         [diagram]="diagram" [numOfElements]="getNumOfElements()"
                         [staticPoints]="staticPoints"></app-canvas>
                    </div>
                <!--</ng-template>-->
            </div>
        </div>
    </div>
</section>

<app-context-menu-for-diagram [diagramId]="currentDiagram"></app-context-menu-for-diagram>