
<div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-success btn-sm btn-space" (click)="createNewModel()">
        <span class="fa fa-plus-square" aria-hidden="true"></span> Create Model
    </button>
    
    <button type="button" class="btn btn-primary btn-sm btn-space"
        onclick="document.getElementById('id_path_to_existing_model').click()">
        <span class="fa fa-file-import" aria-hidden="true"></span> Open Model
    </button>
    <!--Ovaj input tag nece se videti-->
    <input type="file" id="id_path_to_existing_model" class="btn btn-primary btn-sm btn-space"
        style="display:none" (change)="onFileChange($event, this)" accept=".json">

    <button *ngIf="model" type="button" class="btn btn-primary btn-sm btn-space" (click)="export()">
        <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export Model
    </button>
    <button *ngIf="!model" type="button" class="btn btn-secondary btn-sm btn-space" disabled>
        <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export Model
    </button>

    <button *ngIf="model" type="button" class="btn btn-danger btn-sm btn-group-space" (click)="analyze()">
        Analyze Model
    </button>
    <button *ngIf="!model" type="button" class="btn btn-secondary btn-sm btn-group-space" disabled>
        Analyze Model
    </button>


    <button *ngIf="model" type="button" class="btn btn-success btn-sm btn-space" (click)="createNewDiagram()">
        Create Diagram
    </button>
    <button *ngIf="!model" type="button" class="btn btn-secondary btn-sm btn-space" disabled>
        Create Diagram
    </button>

    <button class="btn btn-primary btn-sm btn-space" type="button" (click)="switchView()" >{{buttonText}}</button>

    <button *ngIf="selectedItems" type="button" class="btn btn-danger btn-sm btn-space" (click)="deleteSelectedItems()">
        Delete Selected Items
    </button>
    <button *ngIf="!selectedItems" type="button" class="btn btn-secondary btn-sm btn-space" disabled>
        Delete Selected Items
    </button>
</div>

<div class="row mt-2">
    <div *ngIf="isDesignView()" class="col-xl-1 ml-0 pl-1 mr-0 pr-0">
        <div class="row">
            <div class="col-xl-12">
                <p style="background-color: rgb(9, 89, 155); color: white; text-align: center; margin-bottom: 0.5rem">
                    Elements
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12" style="height: 532px">
                <app-elements-panel [currentDiagram]="currentDiagram"></app-elements-panel>
            </div>
        </div>
    </div>

    <div class="col-xl-{{dataFlowDaigrmasPanelColSize()}} ml-0 pl-1 mr-0 pr-0">
        <div class="row">
            <div class="col-xl-12">
                <p style="background-color: rgb(9, 89, 155); color: white; text-align: center; margin-bottom: 0.5rem">
                    <ng-template [ngIf]="model"> <b>{{model.name}}</b>&nbsp;&nbsp;-&nbsp;&nbsp; </ng-template>
                    Data flow diagrams
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12" style="height: 532px">
                <app-data-flow-diagrams-panel *ngIf="model" [model]="model" [diagramsTabMaxLength]="diagramsTabMaxLength"
                 (currentDiagramEvent)="setCurrentDiagram($event)"></app-data-flow-diagrams-panel>
                <div *ngIf="!model" class="border border-primary" style="width: 100%; height: 100%">
                    <br/>
                    <br/>
                    <h3 align="center">The threat model is not selected!</h3>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isDesignView()" class="col-xl-3 ml-0 pl-1 mr-0 pr-0">
        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-12">
                        <p style="background-color: rgb(38, 129, 38); color: white; text-align: center; margin-bottom: 0.5rem">
                            Properties
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12" style="height: 250px">
                        <app-properties-panel [currentDiagram]="currentDiagram"></app-properties-panel>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-12">
                        <p style="background-color: rgb(104, 36, 4); color: white; text-align: center; margin-bottom: 0.5rem">
                            Assets
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12" style="height: 250px">
                        <app-assets-panel></app-assets-panel>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isAnalysisView()" class="col-xl-8">
        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-12">
                        <p style="background-color: rgb(38, 129, 38); color: white; text-align: center; margin-bottom: 0.5rem">
                            Threat List
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12" style="height: 250px">
                        <app-threat-list-panel></app-threat-list-panel>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-12">
                        <p style="background-color: rgb(104, 36, 4); color: white; text-align: center; margin-bottom: 0.5rem">
                            Threat Analysis
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12" style="height: 250px">
                        <app-threat-analysis-panel></app-threat-analysis-panel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
