
    <svg style="background-color: #ffffff; width: 100%; height: 100%;
            border:3px solid blue; position: relative; z-index: 9000"> 
            <defs>
                <!--<pattern id="image" patternUnits="objectBoundingBox" height="50" width="50">
                    <image x="0" y="0" height="50" width="50" xlink:href="assets/images/complex-process.png"/>
                </pattern>-->
            </defs>
            <!--<circle id="top" transform="translate(200,200)" r="25" fill="url(#image)"/>-->
        </svg>